[tool.black]
line-length = 79

[tool.isort]
profile = "black"
line_length = 79

[tool.coverage.run]
omit = [
    "*/app/core/database.py",
    "*/app/services/s3_service.py",
]

[tool.coverage.report]
show_missing = true
fail_under = 75
